<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxh.msghelper"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_SMS" /><!-- for MsgItem content observer-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- for MsgItem broadcast receiver-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MsgApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".ReceiverStaticSelfDef"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.yxh.msghelper.normal_broadcast_static" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <!-- about "android.permission.BROADCAST_SMS" in the receiver configuration:
        https://stackoverflow.com/questions/1973071/broadcastreceiver-MSGItem-received
        Without requiring that permission, any app on the device could broadcast
        an intent with the action "android.provider.Telephony.SMS_RECEIVED" and
        your app would think it came from the system.  -->
        <receiver
            android:name=".ReceiverStaticSMS"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReceiverStaticBoot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FgService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".ActivityTry"
            android:launchMode="singleTask" />
        <activity
            android:name=".MsgBodyDiagActivity"
            android:launchMode="singleTask"
            android:theme="@style/myDialogActivityTheme" />
        <activity
            android:name=".MsgListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MsgGroupActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>